.approval-actions {
    display: flex;
    gap: 6px
}

.approval-actions button {
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 9px
}

.approval-actions .approve {
    background: #e3f6ed;
    color: #329a72
}

.approval-actions .reject {
    background: #fbeae8;
    color: #b8615b
}